<h1>Os dados foram adicionados</h1>

<a href="index">Voltar a pagina inicial</a><br><br>

<a href="inserir">Inserir novos dados</a><br><br>

<a href="select">Visualizar os personagens cadastrados</a>