
<h1>OS DADOS FORAM APAGADOS COM SUCESSO</h1>


<a href="../inserir">Inserir novos dados</a><br><br></br>
<a href="../index">Pagina principal</a><br><br></br>


<a href="../select">Voltar para o banco de dados</a><br><br></br>


