<h1>Digite o seu personagem</h1>

<form name="form1" action="/controllerForm" method="post"><br>
    <label for="">Nome do personagem</label><br>
    <input type="text" name="nome" id="nome" placeholder="nome"><br><br>
     <label for="">Cor</label><br>
    <input type="text" name="cor" id="cor" placeholder="cor"><br><br>
    <label for="">Imagem</label><br>
    <input type="text" name="imagem" id="imagem" placeholder="imagem"><br><br>

<input type="submit" value="Adicionar">    
    



</form>