<form name="form1" action="/controllerUpdate" method="post"><br>
    <h2>Modifique qualquer valor cadastrado</h2>

    <input type="hidden" name="id" id="id" placeholder="id" value="{{id}}" ><br>
    <label for="">Nome do personagem</label><br><br>
    <input type="text" name="nome" id="nome" placeholder="nome"  ><br><br>
    <label for="">Cor</label><br>

    <input type="text" name="cor" id="cor" placeholder="cor"><br><br>
    <label for="">Imagem</label><br>

    <input type="text" name="imagem" id="imagem" placeholder="imagem"><br><br>

<input type="submit" value="Modificar"><br><br><br>

<a href="../select">Voltar</a>
    



</form>